* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;        
}

.tx-font-red{
    color: red;
    font-family: 'Fredoka', sans-serif;
}

.tx-center{
    text-align: center;
}

.mg-top{
    margin-top: 20px;
}

.dp-flex{
    display: flex;
    justify-content: space-between;
    height: 300px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}



.img{
    width: 100px;
    border-radius: 10px;
}

.bg-red{
    background-color: red;
}


.bg-black{
    background-color: black;
    width: 350px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgb(68, 68, 68)
    
    

    
}
.tx-white{
    color: aliceblue;    
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
    padding: 5px;

}




